---
http_interactions:
- request:
    method: get
    uri: https://api.currencylayer.com/live?access_key=super_secret_access_key&currencies=BRL,EUR&source=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 6391ea83-9674-42a5-bbcb-4b0cc81de75f
      Last-Modified:
      - Tue, 07 Jun 2022 19:39:05 GMT
      X-Request-Time:
      - '0.011'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timestamp":1654630745,"source":"USD","quotes":{"USDBRL":4.872102,"USDEUR":0.93351}}'
  recorded_at: Tue, 07 Jun 2022 19:58:53 GMT
recorded_with: VCR 6.1.0
