---
http_interactions:
- request:
    method: get
    uri: https://api.currencylayer.com/live?access_key=371556383fd19f6bb7d665b040532ba9&currencies=USD&source=BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - e891a5bc-e923-4125-bed3-b5592932b8a8
      Last-Modified:
      - Tue, 07 Jun 2022 19:39:05 GMT
      X-Request-Time:
      - '0.012'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timestamp":1654630745,"source":"BRL","quotes":{"BRLUSD":0.20525}}'
  recorded_at: Tue, 07 Jun 2022 19:57:15 GMT
recorded_with: VCR 6.1.0
